form.close(action='set/plant/'+plant._id method='post')
    .head
        .title=plant.strain.name
            small=plant.text
        .close
            i.fa-duotone.fa-times
    .content
        .split_2_1
            .left
                .formRow
                    label(i18n='input.text.label')
                    input(type="text" value=plant.text name="text")
                .formRow
                    label(i18n='input.strain.label')
                    select.select2ajax(name="strain")
                        option(value=plant.strain._id)=plant.strain.name+' ('+plant.strain.breeder.name+')'
                .formRow
                    label.checkbox-container
                        span(i18n='input.feminized.label')
                        input(type='checkbox' checked=plant.feminized name="feminized" value="true")
                        span.checkbox-checkmark
                .info
                    h2(i18n='info.title')
                    table
                        tr
                            th(i18n='info.pot')
                            td #28cm x 28cm x 29cm
                            td #14 Liter
                        tr
                            th(i18n='info.water')
                            td
                                | #Gardena Micro-Drip
                                br
                                | #6L/Stunde
                            td
                                | #Reihentropfer (2L/h)
                                br
                                | #Reihentropfer (2L/h)
                                br
                                | #Reihentropfer (2L/h)

                        tr
                            th(i18n='info.soil')
                            td Plagron Growmix
                            td 14 Liter
            .right
                h2(i18n='history.title')
                -
                    plant.history.sort(function(a,b){
                        return new Date(b.date) - new Date(a.date);
                    })
                each history in plant.history
                    .history
                        i.fa-duotone(class=history.icon)
                        .date(i18nDate='history.dateFormat')=history.date
                        .text!=history.value
                        .remove(data-delete='set/plant/'+plant._id+'/history/'+history._id data-reopen-url='plant' data-reopen-data=plant._id)
                            i.fa-duotone.fa-times
    .footer
        if(stadium.pot)
            button.pot(type="button" data-modal="pot" data-id=stadium.pot._id data-reopen-url='plant' data-reopen-data=plant._id)
                span(i18n='button.pot.label')
                i.fa-duotone.fa-honey-pot
        button.cut(type="button" data-alert='plant/'+plant._id+'/cut')
            span(i18n='button.cut.label')
            i.fa-duotone.fa-scissors
        button.measure(type="button" data-alert='plant/'+plant._id+'/measure')
            span(i18n='button.measure.label')
            i.fa-duotone.fa-ruler
        button.note(type="button" data-alert='plant/'+plant._id+'/note')
            span(i18n='button.note.label')
            i.fa-duotone.fa-notes
        button.save(type="submit")
            span(i18n='button.save.label')
            i.fa-duotone.fa-floppy-disk
        button.close(type="button")
            span(i18n='button.abort.label')
            i.fa-duotone.fa-times
