.head
    .title(i18n='title')
    .close
        i.fa-duotone.fa-times
.content
    .split_2_1
        .left
            .formRow
                label(i18n='input.shape.label')
                select.select2(name="shape")
                    option(value="Rechteckig") Rechteckig
                    option(value="Rund") Rund
            .formRow
                label(i18n='input.volume.label')
                .inputGroup
                    input(name='volume.amount' type='number' value=pot.volume.amount)
                    select(name='volume.amount')
                        option(selected=pot.volume.unit==='Liter') Liter
                        option(selected=pot.volume.unit==='ml') ml
                        option(selected=pot.volume.unit==='m³') m³
                        option(selected=pot.volume.unit==='cm³') cm³
                        option(selected=pot.volume.unit==='dm³') dm³
.footer
    button.save(type="submit")
        span(i18n='button.save.label')
        i.fa-duotone.fa-floppy-disk
    button.close(type="button")
        span(i18n='button.abort.label')
        i.fa-duotone.fa-times